@{
    ViewBag.Title = "About Me";
}

@*This portion sits inside of a row. It is split 6 and 6. promoArea represents the min-height. Graduation is the picture
which is img-rounded and vertical-center calls out various properties *@
<div class="row">    
    <div class="col-md-6 promoArea graduation img-rounded vertical-center"></div>
    <div class="col-md-6 promoArea img-rounded vertical-center">
        <div class="skills promoArea img-rounded">
            <h2>Skills</h2>
            <ul style="list-style-type:none">              
                <li>C#</li>
                <li>ASP.NET MVC</li>
                <li>Github & Gitbash</li>
                <li>SQL</li>
                <li>Visual Studio</li>
                <li>HTML & CSS</li>
                <li>Some experience using AngularJS & Monaca</li>
                <li>AutoCAD & Solid Edge</li>
            </ul>
        </div>
    </div>
</div>


<h2>Who Am I??</h2>
<br/>

@*This is my about section that pulls a class called paragraph which sets a special font-family and font-size.*@
    <p class="paragraph">I was born by the river...jk..jk. I was born at Metro Hospital on the West Side of Cleveland, OH.</p>

    <p class="paragraph">
        I grew up with a love for technology. I also enjoyed taking items apart to see inside and putting them back together.
        I graduated from Regina High School where I was on the robotics team. It was on this team my love for technology and
        programming grew.
    </p>

    <p class="paragraph">
        I attended Ohio University majoring in Mechanical Engineering. The program was not what I expected and I switched to
        Engineering Technology & Management which was basically Mechanical Engineering without Calculus and more hands on. The added
        bonus was we had to get a business minor. I loved the fact we had to take business classes.
    </p>

    <p class="paragraph">
        After an internship working in a manufacturing facility in which I excelled I decided I did not want to work in a manufacturing
        facility for the rest of my life. I switched my major for the last time and graduated with a Specialized Studies Degree in
        Technology Engineering & Innovation Management.

    </p>

    <p class="paragraph">
        After graduating from school I did not feel complete. I felt like something was missing, so I started learning how to code on
        my own. I did not get very far, I am grateful that I was able to find We Can {Code} IT. I've learned so much in the past 3 months.
        I'm leaving not only with skills in coding, but a new perspective on life and new found confidence!! 
    </p>
@*Signature at the end of my about summary*@
<h4>Lexus Champagne Mercedes Davis</h4>
