@{
    ViewBag.Title = "Contact";
}
<h2>How To Reach The Coolest Person EVER!!!</h2>

<br/>

@*I used font awesome to find my icons for github and linkedin. Was able to make them bigger by using fa-2x. each link will create a
seperate tab to display the page. *@

<h3>Github</h3><a href="https://github.com/lcmd" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
<h3>LinkedIn</h3><a href="https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>

<br/>

<address>
    <br />
    <abbr title="Phone"><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>:</abbr>
    216.396.0639
</address>

<address>
    <strong>GMAIL</strong>   <a href="mailto:lexus.davis91@gmail.com">lexus.davis91@gmail.com</a><br />
    <strong>OU</strong> <a href="mailto:ld894709@ohio.edu">ld894709@ohio.edu</a>
</address>

@*Created a seperate class called custom and square which calls out a specific font family. *@
<div class="row">
    <div class="col-md-12 custom square">
        <strong>Follow the Beat</strong>
        <p>
            Not only do I enjoy coding, I am also the a Co-Founder of a company called Back of the Class Entertainment. 
            I manage an artist by the name of MC who is the other Co-Founder of BOTCE..
            FIVE by MC is a great album that I can listen to no matter my mood. If you've never heard it I
            suggest listening. You will not be disappointed.
        </p>
        
        <a href="https://soundcloud.com/mcbotce/sets" target="_blank"><i class="fa fa-soundcloud soundcloud fa-2x" aria-hidden="true"></i></a>
    </div>
    </div>
