
@{
    ViewBag.Title = "Feedback";
}

@*Created a feedback page so users can commit on what they liked and didn't like as well as offer suggestions. 
    Used a font awesome icon called cog that spins and represents the feedback survey.This view is found in the home
    folder.*@
<h2>Feedback</h2>

<div class="row">
<div class="col-md-6 feedbackA img-responsive vertical-center"></div>
    <div class="col-md-6 feedbackB img-responsive vertical-center"></div>
    </div>

<p class="paragraph">I thank you for taking time to view my Portfolio. I would love to hear any feedback you have. Click the icon below to 
    be taken to the survey. Thank You So Much...SWAAAAAAAAAAAAAAAAG OUT!!!</p>

<a href="https://docs.google.com/forms/d/1XZsEg_TQKD5-MXkEjrxvKJ9b7aYqtXDlauE1fpBQB9I/viewform?c=0&w=1&usp=mail_form_link" target="_blank">
     <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
     <span class="sr-only">Loading...</span>
</a>
