@{
    ViewBag.Title = "Home Page";
}


@*Row that represented the image and overlay*@
<div class="row">    
    <!--Columbus Skyline-->
    <div class="col-md-12 promoArea columbusSky img-circle ">
        <div class="overlay">
            <h2>Lexus Champagne Mercedes Davis</h2>
            <h4>Portfolio</h4>
        </div>      
    </div>
</div>
   
@*Some of my favorite quotes displayed at the bottom of the bottom of the home page. Which sits inside a custom class
    for font-family and background color.*@
<div class="col-md-12 custom square">
        <strong>Inspiration</strong>
        <p class="boldness">"Challenge yourself with something you know you could never do, 
        and what you’ll find is that you can overcome anything." Anonymous</p>
        <p>"Cheated on my fears.
             Broke up with my doubts.
              Got engaged to my faith.
               Now I'm chasing my dreams!!" ME</p>
        <p>"Every morning you have two choices: Continue to sleep with your dreams or Wake Up and CHASE them. BE Great!!" My Trainer</p>
        <br/>        
</div>
